{"filter":false,"title":".htaccess","tooltip":"/php-simple-framework/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"344a119d84a66a796135a34983abea1aada30af7","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1508233777330}